.detail-container {
    padding: 1rem;
}

.detail-qr-box {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

.detail-set-profile-box {
    display: flex;
    justify-content: flex-end;
    line-height: 2;
}

.detail-p-set-profile {
    display: inline-block;
    margin: 0;
}