body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 0;

  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.App {
  min-height: 300px;
  max-height: 350px;
}
